<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>GENERIC SERVLE EXAMPLE</display-name>
  <servlet>
  	<servlet-name>First</servlet-name>
  	<servlet-class>Demo</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>First</servlet-name>
  	<url-pattern>/hii</url-pattern>
  </servlet-mapping>
   <servlet>
  	<servlet-name>Future</servlet-name>
  	<servlet-class>org.com.FortuneTeller</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Future</servlet-name>
  	<url-pattern>/fortune</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
   <welcome-file>myfortune.html</welcome-file>
   <welcome-file>demo.html</welcome-file>
  </welcome-file-list>
</web-app>